<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>@ViewBag.Title - MVC Blog</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="assets\css\bootstrap.css" rel="stylesheet"> -->
    <!-- Additional CSS Files -->
    <link href="~/Content/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/assets/css/templatemo-stand-blog.css" rel="stylesheet" />
    <link href="~/Content/assets/css/owl.css" rel="stylesheet" />
    <link href="~/Content/assets/css/stillerim.css" rel="stylesheet" />
</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
   
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html"><h2>Papirüs<em>.</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            @Html.ActionLink("Ana Sayfa", "Index", "Post", new { area = "" }, new { @class = "nav-link" })
                        </li>

                        @{ Html.RenderAction("Kategoriler", "Kategori", new { @class = "nav-link" }); }

                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">İşlemler</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item nav-link">
                                    @Html.ActionLink("Yazı Oluştur", "Create", "Post", new { area = "" }, new { @class = "nav-link" })

                                    @Html.ActionLink("Yazılarım", "Yazilarim", "Post", new { area = "" }, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">@Session["username"].ToString()</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item nav-link">
                                    @Html.ActionLink("Çıkış Yap", "CikisYap", "Kullanici", new { area = "" }, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="index.html">TR</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="nav-link" href="home-EN.html">EN</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="copyright-text">
                <p>
                    &copy; @DateTime.Now.Year - Sakarya MYO İnternet Programcılığı Dersi- Uygulama Projesi
                </p>
            </div>
            <div>
                <ul class="social-icons">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    @RenderSection("scripts", required: false)
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/assets/js/owl.js"></script>
    <script src="~/Content/assets/js/isotope.js"></script>
    <script src="~/Content/assets/js/slick.js"></script>
    <script src="~/Content/assets/js/accordions.js"></script>
    <script>
       $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.back-to-top').fadeIn();
                } else {
                    $('.back-to-top').fadeOut();
                }
            });

            $('.back-to-top').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return false;
            });

        });
    </script>

    <script language="text/Javascript">

      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
</body>
</html>
